<h1>Listing Libros</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Isbn</th>
      <th>Cubierta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.titulo %></td>
        <td><%= libro.descripcion %></td>
        <td><%= libro.ISBN %></td>
        <td><%= image_tag libro.cubierta %></td>
        <% if User.es_admin?(current_user) %>
          <td><%= link_to 'Show', libro %></td>
          <td><%= link_to 'Edit', edit_libro_path(libro) %></td>
          <td><%= link_to 'Destroy', libro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Comentar' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libro', new_libro_path %>
