<p>
  <strong>Titulo:</strong>
  <%= @libro.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @libro.descripcion %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @libro.ISBN %>
</p>

<p>
  <strong>Cubierta:</strong>
  <%= image_tag @libro.cubierta %>
</p>

<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
<br>
<br>

<table class="table table-hover"
  <% unless @comentarios.blank? %>
    <thead>
      <tr>
        <th>Comentario</th>
        <th>Calificacion</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      <% @comentarios.each do |comentario| %>
        <tr>
          <td><%= comentario.comentario %></td>
          <td><%= comentario.calificacion %></span></td>
          <td><%= comentario.user.email %></td>
        </tr>
      <% end %>
    </tbody>
    <tr>
      <td><br></td>
    </tr>
  <% end %>
<tr>
  <td><%= link_to 'Nuevo Comentario',  new_libro_comentario_path(@libro) %></td>
</tr>

</table>
